{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
  {% block header_name %}{% endblock %}

      <nav class="container container--70">
        <ul class="nav--actions">
            {% if user.is_authenticated %}
          <li class="logged-user">
            Witaj {{ user.first_name }}
            <ul class="dropdown">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Moje zbiórki</a></li>
              <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
          </li>
            {% else %}
                      <li><a href="{% url 'login' %}">Zaloguj</a></li>
          <li class="highlighted"><a href="{% url 'registration' %}">Załóż konto</a></li>
            {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'main' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'main' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'main' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'main' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            {% block donation %}{% endblock %}
          <li><a href="{% url 'main' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">

{% block header %}
{% endblock %}

      </div>
    </header>




{% block content %}{% endblock %}

      <footer>
      <div class="contact" id="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50">
            <input type="text" name="name" placeholder="Imię" />
          </div>
          <div class="form-group form-group--50">
            <input type="text" name="surname" placeholder="Nazwisko" />
          </div>

          <div class="form-group">
            <textarea
              name="message"
              placeholder="Wiadomość"
              rows="1"
            ></textarea>
          </div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
        <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2019</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="{% static 'images/icon-facebook.svg' %}"/></a>
          <a href="#" class="btn btn--small"><img src="{% static 'images/icon-instagram.svg' %}"/></a>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/app.js' %}"></script>


  </body>
</html>