{% extends 'base.html' %}
{% load static %}
{% block header_name %}
    <header>
{% endblock %}

{% block content %}
    <section class="login-page">

      <h2>Załóż konto</h2>

      <form action="" method="POST">
          {% csrf_token %}
        {% include "partials/messages.html" %}
        <div class="form-group">
            {{ form.name }}
{#          <input type="text" name="name" placeholder="Imię" /> #za pomocą widgetu placeholder w formsach i wtedy skasować te linijkę#}
        </div>
         <div class="form-group">
             {{ form.surname }}
{#          <input type="text" name="surname" placeholder="Nazwisko" />#}
        </div>
        <div class="form-group">
            {{ form.email }}
{#          <input type="email" name="email" placeholder="Email" />#}
        </div>
        <div class="form-group">
            {{ form.password }}
{#          <input type="password" name="password" placeholder="Hasło" />#}
        </div>
        <div class="form-group">
            {{ form.password2.errors }}
            {{ form.password2 }}
{#          <input type="password" name="password2" placeholder="Powtórz hasło" />#}
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>

      </form>
    </section>
{% endblock %}


